<header>
  <%= link_to root_path do %>
    <h2><span>Job</span>Searcher</h2>
  <% end %>
  <%= form_tag(jobs_path, method: 'GET', id: 'search-form') do %>
    <%= text_field_tag :keywords, params[:keywords], placeholder: 'Keywords' %>
    <%= text_field_tag :location, params[:location], placeholder: 'Location' %>
    <%= submit_tag "Search" %>
  <% end %>
  <div id="userActions">
    <% if current_user %>
      <%= link_to 'Post Job', new_job_path %>
    <% else %>
      <%= link_to 'Log In', new_user_session_path %>
    <% end %>
  </div>
</header>

<div id="welcome">
  <h1>Welcome to JobSearcher!</h1>
  <strong><%= pluralize(@jobs_count, 'job') %> found</strong>
</div>
<div id="results">
  <% @jobs.each do |job| %>
    <%= render "job_result", job: job %>
    </br>
  <% end %>
</div>
<div class="digg_pagination">
  <%= will_paginate @jobs, previous_label: "«", next_label: "»" %>
</div>
