<%= form_tag(jobs_path, method: 'GET', id: 'search-form') do %>
  <%= text_field_tag :keywords, params[:keywords], placeholder: 'Keywords' %>
  <%= submit_tag "Search" %>
<% end %>
<% if current_user %>
  <%= link_to 'Post Job', new_job_path %>
<% else %>
  <%= link_to 'Log In', new_user_session_path %>
<% end %>
<div id="results">
  <% @jobs.each do |job| %>
    <%= render "job_result", job: job %>
    </br>
  <% end %>
</div>
<div class="digg_pagination">
  <%= will_paginate @jobs, previous_label: "«", next_label: "»" %>
</div>
