<div id="newPost">
  <%= form_for :job, url: jobs_path do |f| %>
    <%= f.label :company %><br />
    <%= f.text_field :company %><br />
    <%= f.label :city %><br />
    <%= f.text_field :city %><br />
    <%= f.label :state %><br />
    <%= f.text_field :state %><br />
    <%= f.label :title %><br />
    <%= f.text_field :title %><br />
    <%= f.label :body %><br />
    <%= f.text_field :body %><br />
    <%= f.label :keywords %><br />
    <%= f.text_field :keywords %><br />
    <%= f.submit %>
  <% end %>
</div>
